.Output-Div {
    border: 2px solid rgb(56, 46, 46);    
    background-color: rgb(59, 59, 59);   
    height: 597px;             
    width: 425px;              
}
.language-selector {
    display: flex;              
    align-items: center;         
    gap: 20px;                  
}

.language-selector select {
    padding: 5px 10px;        
    border: 1px solid #ccc;    
    border-radius: 4px;       
    font-size: 16px;          
    background-color: #f9f9f9; 
    cursor: pointer;
    margin-left: 10px;            
}

.language-selector select option {
    padding: 10px;             
    background-color: #ffffff; 
    color: #333;              
}

.language-selector select option:hover {
    background-color: #f0f0f0;
}

.language-selector button {
    padding: 6px 12px;        
    border: none;              
    border-radius: 4px;      
    background-color: #007bff; 
    color: white;             
    font-size: 16px;          
    cursor: pointer;         
    margin-right: 5px;
}

.language-selector button:hover {
    background-color: #0056b3; 
}
.copyurl-button{
    background-color: #007bff; 
    color: white; 
    padding: 10px; 
    border: none; 
    border-radius: 4px; 
    cursor: pointer; 
    font-size: 12px; 
}
.copy-para{
    color: white;
    font-size: 13px;
}
.compilation-message{
    color: white;
    text-align: center;
    font-size:large;
    margin-top: 20px;
}